@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
}
.circle{
    width: 100px;
    height: 100px;
}

.circle a svg{
    width:100px;
    height: 80px;
    color: black;
}
.circle:hover {
    /* background-color: #89604a;
    border: 1px solid #89604a; */
}


.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
}

.navbar #logo {
    color: black;
    font-size: 2em;
}

.navlist {
    float: right;
}

.navlist li {
    list-style: none;
    float: left;
    margin: 5px;
}

.navlist li a {
    color: black;
}

#landing-container {
    width: 100%;
    height: 60%;
    background-image: url("http://via.placeholder.com/780x432");
    /* background-image: url("https://cdn-images-1.medium.com/max/1600/0*QUqE4WGF8_cC9bIl.jpg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#landing-container .circles{
    display: flex;
    flex-direction: row;
}
#landing-container .circle {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, border 0.3s;
    margin: 5px;
}

#apply-btn{
    margin: 0 auto;
    width: 150px;
    height:50px;
    line-height: 50px;
    border: 2px solid #fff;
    border-radius: 25px;
    transition:background-color 0.3s, border-color 0.3s;
}
#apply-btn a{
    text-decoration: none;
    color: #fff;
}
#apply-btn:hover{
    background-color: #444444;
    border-color: #444444;
}


#about-container .abouts{
    margin-top: 50px;
}

#about-container .about {
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.8em;
}

#about-container .about .question{
    line-height: 2.5em;
    color: #444444;
}

#about-container .about .answ {
    margin-left: 20px;
}

#lesson-container{
    text-align: center;

}
.title{
    width: 40%;
    margin: 100px auto  50px auto;
}
.title h1{
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: #5e5d5d;
    color: white;
    text-align: center;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(212,212,212,1);
    -moz-box-shadow: 0px 0px 28px 0px rgba(212,212,212,1);
    box-shadow: 0px 0px 28px 0px rgba(212,212,212,1);
}

#lesson-container #lessons{
    width: 100%;    
    max-width: 80%;    
    margin: 0 auto;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#lesson-container #lessons .lesson{
    width: 200px;
    display: flex;
    align-items: center;   
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
#lesson-container #lessons .lesson svg{
    width: 150px;
    height:150px;
    color: #cccccc;
}
#lesson-container #lessons .lesson .desc h2{
    font-weight: 700;
}
#contact-container{
    height: 60%;
}
#contact-container #contact{
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    position: relative;
  top: 150px;
  height: 6em;
  line-height: 6em;
  margin: 0;
  background-color: #444444;
  text-align: center;
}
#copyright{
    font-weight: bold;
    color: white;
    margin-right: 20px;
    float: right;
  }
@media screen and (max-width:768px) {
    #hello {
        margin: 10px;
    }
    #about-container .about {
        width: 80%;
        margin: 0 auto;
    }
    .navlist{
        display: none;
    }
    .title{
        width: 80%;
    }
    #contact-container #contact{
        max-width: 100%;
    }
}
@media screen and (min-width:768px){
    h2 > .line-break{
        display: none;
    } 
}